#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2rem 3rem;
  box-shadow: rgba(255, 255, 255, 0.364) 0px 3px 8px;
  border-radius: 20px;
  background-color: var(--card-background);
}
